*{
    margin: 0; 
    padding: 0;
}
body{
    background-color:rgba(216, 86, 140, 0.473);
    font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}
.header{
    display: flex; background-color: rgb(255, 131, 172); height:200px; justify-content: space-between; align-items:center ;

}

ul > li{
    display: inline;
}

.navbot{
    display: flex;
    height: 180px;
    align-items: end;
    
}

.navbot > ul > li >a{
    color: white;
    text-decoration: none;
    background-color: rgb(255, 131, 172);
    padding: 7px 15px;
    margin:50px;
    transition: background-color 0.5s linear;
    border-radius: 5px;
    font-size: 23px;
    font-weight: 400;
}
.btnnav:hover{
    background-color:rgba(88, 0, 84, 0.212) ;
    color:white ;
}

h1.store{
    color: white; 
}
.golova{
  width: 750px;
}
.cart > a{
    padding: 10px 20px;
}
.main{
    display: grid;
    color: white;
    margin-top: 30px;
    height: 700px;
}
.main > div:first-child{
    grid-column: 1 / 2;
    background-color:rgba(0, 0, 0, 0.534);
    padding-left: 50px;
}
.main > div:nth-child(2){
    grid-column: 2 / 7;
    background-color: rgba(0, 0, 0, 0.534);
    padding-left: 650px;
}

.ban{
    width: 300px;
    height: 700px;
}

.card-img{
    width: 250px;
    height: 250px;
    padding: 20px;
}
.corzina {
    width: 50px;
    height: 50px;
    background-color: black;
}

.footer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(15, 15, 15, 0.993);
    margin-top: 20px
}
.footer-img{
    height: 140px;
}

.card{
    width: 250px;
    background-color: #ada9a9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-top: 15px;
}

.imgcard{
    width: 150px;
    height: 150px;   
}

.title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(88, 0, 84);
}

.btn{
    background-color:rgb(88, 0, 84) ;
    color:#eeeeee;
   padding: 10px 25px;
   text-decoration: none;
   border-radius: 8px;
   transition: background-color 0.5s linear;
   font-size: larger;
}

.btn:hover{
    background-color:rgb(255, 131, 172) ;
    color:rgb(88, 0, 84) ;
}

.btncard{
    margin: 70px;
}